@page "/portal-calendar"
<h3>My Calendar</h3>

@code {
    [CascadingParameter]
    public MainLayout MainLayout { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        MainLayout.SubTitle = "Employee Portal Module";
        await base.OnInitializedAsync();
    }
}