@page "/portal-payslips"
@attribute [Authorize(Roles = "Gas Employee,Front Desk,Human Resource")]
<h3>My Info</h3>

@code {
    [CascadingParameter]
    public MainLayout MainLayout { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        MainLayout.SubTitle = "Employee Portal Module";
        await base.OnInitializedAsync();
    }
}