@page "/360View/{roomType}"
@using NCMS_wasm.Shared
@layout NoLayout

<MudGrid Justify="Justify.Center" Class="vh-100">
    <MudItem lg="12">
        <MudOverlay @bind-Visible="isLoading" DarkBackground AutoClose="false">
            <MudLoading @bind-Loading="isLoading" Overlap="false" LoaderType="LoaderType.Circular" Darken="true"
                        Color="Color.Primary" />
        </MudOverlay>
        <model-viewer src="@($"assets/{RoomType}.glb")" style="height: 500px" class="w-100" camera-controls tone-mapping="neutral" shadow-intensity="1">
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
        </model-viewer>
    </MudItem>
</MudGrid>




@code {
    [Parameter] public RoomType RoomType { get; set; }
    private bool isLoading = true;

    

    protected override async Task OnInitializedAsync()
    {

        isLoading = false;
        await base.OnInitializedAsync();

    }

}
