@inherits LayoutComponentBase
@if (returnUrl != "login" || returnUrl != "authentication" || returnUrl != "portal")
{
<MudStack Class="w-100 vh-100" Justify="Justify.Center" AlignItems="AlignItems.Center">
    <section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <MudImage Src="images/warning_re_eoyh.svg" ObjectFit="ObjectFit.ScaleDown" Height="150" />
                        <h3 class="h2 mb-2">Oops! Something went wrong.</h3>
                        <p class="mb-5">The page doesn't exist</p>
                        <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" href="/Home" role="button">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</MudStack>
}
@code{
    [Inject] NavigationManager Navigation { get; set; }
    [Inject] IJSRuntime JSRuntime { get; set; }
    private string? returnUrl;
    protected override async Task OnInitializedAsync()
    {
        
         returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
        if (returnUrl == "login" || returnUrl == "portal")
        {
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "returnUrl", returnUrl);
            Navigation.NavigateTo("authentication/login", true);
        }

        await base.OnInitializedAsync();
    }

}